<h2 class="page-header">Sign In</h2>
<form #addPost="ngForm" (ngSubmit)="signin(addPost.value)">
    <div class="form-group">
        <label>Email
  <input (ngModel)="email" type="text" name="email" value="Enter email" class="form-control" required #email="ngModel">
    </label>
</div>
    <div class="form-group">
        <label>Password:
  <input (ngModel)="password" type="password" name="password" class="form-control">
</label>
</div><br>
  <input type="submit" class="btn btn-primary" value="SignIn" [attr.disabled]="addPost.invalid ? 'true' : null">
  <Button class="btn btn-primary"><a class="text" routerLink="/signup">SignUp</a></Button>
</form> 
<!-- 
{{ addPost.valid }} -->