<div class="row">
    <app-cart></app-cart>
<div class="album py-5 bg-light col-sm-7 items">
<h1>All Items</h1>
<div class="row">
<div class="card-body" *ngFor='let item of allitems'>
        <img class="card-img-top img-responsive" src="assets/images/products/{{item.imagepath}}" alt="" >
        <h3 class="card-title">{{item.name}}</h3>
        <h5 class="card-text">{{item.category.name}}</h5>
        <h5 class="card-text">Price: ${{item.price}}</h5>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button type="button" class="btn btn-primary btn-lg btn-block" >Edit</button>
          </div>
        </div>
        <button type="button" class="btn btn-dark btn-lg btn-block" >Add to cart</button>

</div>
 </div>        
</div>    
</div>
